<div class="home-page container">

    <h1 class="home-page--title">

        {{ content.title }}

    </h1>

    <div class="home-page--big_image">

        {{ content.big_image }}

    </div>

    <div class="home-page--body">

        {{ content.body }}

    </div>    

</div>