<!-- ======= price-block ======= -->

{{ attach_library('spaker_mod/price_section_rcweb') }}

<div class="price-block">

  <div class="item-price">

    <div class="item-price__head">

      <div class="name-wrap">

        <h2>BOUTIQUE PROFESSIONNELLE SHOPIFY</h2>

      </div>

      <div class="item-price__wrap">

        <p></p><span class="per-mn"></span>

      </div>

    </div>

    <div class="item-price__body">

      <ul>

        <li class=""> Création de votre boutique clé en main avec Shopify </li>
        <li class=""> Installation d'un thème professionnel </li>
        <li class=""> Mise en forme de vos contenus pour 5 pages </li>
        <li class=""> + Vos pages de mentions légales et RGPD </li>
        <li class=""> 1 formulaire de contact </li>
        <li class=""> Site modifiable par vos soins </li>
        <li class=""> Ajout de 5 collections et 30 produits </li>
        <li class=""> Création du compte client </li>
        <li class=""> Votre site relié à vos réseaux sociaux </li>
        <li class=""> Pages supplémentaires possibles </li>
        <li class=""> Mise à jour et maintenance du site durant une année </li>
        <li class=""> Référencement SEO simple </li>
        <li class=""> Installation de Google Analytics </li>
        <li class=""> Option : Multilingue +190&thinsp;€ </li>
        <li><a href="https://rc-web.fr/contact/" target="_self" class="btn btn-blue">Nous contacter</a></li>

      </ul>

    </div>

  </div>

</div>