
{{ attach_library('spaker_mod/vesperr_more_service') }}

<!-- ======= More Services Section ======= -->

    <section id="more-services" class="more-services">

      <div class="container">

        <div class="row">

          <div class="col-md-6 d-flex align-items-stretch">

            <div class="card aos-init" style="background-image: url(&quot;https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-1.jpg&quot;);" data-aos="fade-up" data-aos-delay="100">

              <div class="card-body">

                <h5 class="card-title"><a href="">Lobira Duno</a></h5>

                <p class="card-text">Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua.</p>

                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>

              </div>

            </div>
            
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">

            <div class="card aos-init" style="background-image: url(&quot;https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-2.jpg&quot;);" data-aos="fade-up" data-aos-delay="200">

              <div class="card-body">

                <h5 class="card-title"><a href="">Limere Radses</a></h5>

                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem.</p>

                <div class="read-more">
                    
                    <a href="#">
                        
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><g fill="currentColor"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></g></svg> 
                        Read More
                    </a>

                </div>

              </div>

            </div>
            

          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4">

            <div class="card aos-init" style="background-image: url(&quot;https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-3.jpg&quot;);" data-aos="fade-up" data-aos-delay="100">

              <div class="card-body">

                <h5 class="card-title"><a href="">Nive Lodo</a></h5>

                <p class="card-text">Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores.</p>

                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>

              </div>

            </div>
            
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4">

            <div class="card aos-init" style="background-image: url(&quot;https://bootstrapmade.com/demo/templates/Vesperr/assets/img/more-services-4.jpg&quot;);" data-aos="fade-up" data-aos-delay="200">

              <div class="card-body">

                <h5 class="card-title"><a href="">Pale Treda</a></h5>

                <p class="card-text">Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem.</p>

                <div class="read-more"><a href="#"><i class="bi bi-arrow-right"></i> Read More</a></div>

              </div>

            </div>

          </div>

        </div>
        
      </div>
      
    </section><!-- End More Services Section -->