<!-- ======= Clients Section ======= -->


{% if content %}
	<section id="clients" class="{{attributes.addClass('clients')}}">
		<div class="container">
			{% if content.icon_list %}
				{{content.icon_list}}
			{% endif %}
		</div>
	</section>
{% endif %}
<!-- End Clients Section -->