<!-- ======= Clients Section ======= -->

{{ attach_library('spaker_mod/vesperr_client') }}

<section id="clients" class="{{attributes.addClass('clients')}}">

	<div class="container">
		{% if content.icon_list %}
			{{content.icon_list}}
		{% endif %}
	</div>
</section>
<!-- End Clients Section -->