{%  if content %}
<section {{ attributes.addClass(['spaker_mod_faq']) }}>
	<div class="container">
		{% if content.title %}
		<h2 {{ region_attributes.title.addClass(['section-vs-title','aos-init','text-center'])}} data-aos="fade-up">
			{{ content.title }}
		</h2>
		{% endif %}
		{% if content.faq_items_container %}
			{% for item in content.faq_items_container|array_elements(region_attributes.faq_items_container.addClass('')) %}
				{{ item }}
			{% endfor %}
		{% endif %}
	</div>
</section>
{% endif %}