{% if content %}
	<!-- ======= Pricing Section ======= -->
	<section id="pricing" class="pricing">
		<div class="container">
			<div class="section-title">
				{% if content.title %}
					<h2>
						{{ content.title|layout_value }}</h2>
				{% endif %}
				{% if content.desc %}
					<div {{region_attributes.desc.addClass('desc')}}>
						{{ content.desc }}
					</div>
				{% endif %}
			</div>

			{% if content.contenu %}
				{{ content.contenu }}
			{% endif %}

		</section>
		<!-- End Pricing Section -->
	{% endif %}