{% if content %}
	<div attributes.addClass("icon-box")>
        {% if content.feature_svg %}
            {{ content.feature_svg }}
        {% endif %}
        {% if content.feature_title %}
		<h3 {{ region_attributes.feature_title.addClass('')}}>
			{{ content.feature_title }}
		</h3>
        {% endif %}
    </div>
{% endif %}